show page loan

<% if (error){ %>
    <div>
        <label><%= error %></label>
    </div>
  <% } %>

<div>
    <form action="<%=loanId%>?_method=PATCH" method="POST">
        <input type="text" name="name" value="<%=name%>">
        <input type="number" name="amount" value="<%=amount%>">
        <button type="submit">Modify</button>
    </form>
    <form action="<%=loanId%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>